{% extends 'base.html' %}
{% block content %}
{% load static %}
<section id="login">
    <div class="loginForm">
        {%if error_msg%}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {{error_msg}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}
        <h2>Login</h2>
        <form method="post">
            {% csrf_token %}
            <div class="row">
                <label class="form-label">{{auth.username.label}}</label>
                {{auth.username}}
            </div>
            <div class="row">
                <label class="form-label">{{auth.password.label}}</label>
                {{auth.password}}
            </div>
            
            <div class="row">
                <input type="submit" value="submit" class="btn btn-outline-primary">
            </div>
        </form>
        <p>New user? <a href="{% url 'register' %}"><span>register</span></a></p>
    </div> 
</section>
{% endblock %}
